/*
선택자란?
- CSS 에서 지정한 스타일을 적용 할 대상을 의미한다. (즉, 선택자에 따라 CSS 에서 지정 된 스타일이 적용되는 대상이 달라진다는 것을 알 수 있다.)

CSS 주요 선택자 종류
- 전체 선택자
- 태그 선택자
- 아이디 선택자
- 클래스 선택자
- 기본 속성 선택자
- 문자열 속성 선택자
*/

/*
전체 선택자는 HTML 에서 사용 할 수 있는 모든 요소에 적용하는 역할을 수행한다. (즉, HTML 문서에서 기본적으로 적용 할 스타일은 전체 선택자로
지정하면 된다는 것을 알 수 있다.)
*/
* {
	color: red;
}

/*
태그 선택자는 특정 태그에 스타일을 적용하는 역할을 수행한다. (즉, 해당 선택자를 활용하면 특정 태그에만 스타일을 적용하는 것이 가능하다.)
*/
p {
	color: blue;
}

/*
아이디 선택자는 특정 아이디가 설정 된 태그에 스타일을 적용하는 역할을 수행한다. (즉, 아이디가 지정 된 태그에 스타일을 적용하고 싶다면 해당 
선택자를 활용하면 된다는 것을 알 수 있다.)
*/
#Title {
	color: green;
}
