main {
	width: 100%;
	height: 100vh;

	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../Resources/Training_01/Images/me.jpg") center center;
	background-size: cover;
	display: flex;

	text-align: center;
	align-items: center;
	justify-content: center;
}

main h4 {
	font-size: 2rem;
}

main h2 {
	margin: 2rem 0px;
	font-size: 3.5rem;
	letter-spacing: 3px;
}

main p {
	margin: 0px auto;
	max-width: 500px;
	font-size: 1.25rem;
}

main button.Download {
	color: white;
	background-color: transparent;

	margin: 1rem 2rem;
	padding: 10px 10px;

	font-weight: bold;
	cursor: pointer;

	border: 3px solid white;
	border-radius: 20px;
}

main button.Mouse {
	color: white;
	background-color: transparent;
	position: absolute;

	font-size: 2rem;
	cursor: pointer;

	bottom: 1rem;
	left: 50%;

	border: none;
	transform: translateX(-50%);
	animation: UpDown 1s ease-in-out infinite;
}

main h2 span::after {
	content: "";
	display: inline-block;
	background-color: white;

	width: 3px;
	height: 40px;

	animation: Blink 0.7s ease-in-out infinite;
}

@keyframes UpDown {
	0% {
		bottom: 1rem;
	}

	50% {
		bottom: 1.5rem;
	}

	100% {
		bottom: 1rem;
	}
}

@keyframes Blink {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
