* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a, a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

section {
	padding: 5rem 0px;
}

section:nth-child(2n) {
	background-color: #f8f8f8;
}

.Container {
	width: 100%;
	margin: 0px auto;
	padding: 0px 50px;
	
	display: block;
}
